@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

.strokeText {
  -webkit-text-stroke: 2px #0F142D;
  color: transparent;
}

input:focus {
  outline: none;
}

input {
  padding-left: .5rem;
  padding-right: .5rem;
}

input::placeholder {
  color: white;
}

.textShadow {
  text-shadow: .5px .5px 3px black;
}

.blackTextInp::placeholder {
  color: gray;
}

.blackTextInp {
  color: black;
}
